div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px solid black;
}

.translate{
    transform: perspective(10px) translatez(-10px);
}

.scale{
    margin: 200px;
    transform: perspective(350px) scaleZ(6) rotateX(45deg) rotateY(30deg);
}